.catalog_title {
}
.catalog {
  display: flex;
  flex-direction: column;
  &_filter {
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;
    font-size: 20px;
    &_title {
      margin-bottom: 10px;
    }
    &_item {
      margin-left: 15px;
      a.active-link {
        color: #2b855c;
      }
    }
  }
  &_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
  }
}
@media all and (max-width: 1023px) {
  .catalog_list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 767px) {
  .catalog_list {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 500px) {
  .catalog_list {
    grid-template-columns: 1fr;
  }
}
