.header {
  display: flex;
  justify-content: space-between;
  &_cash {
    width: 30%;
  }
  &_logo {
  }
  &_cart {
    width: 30%;
    text-align: right;

  }
}
.nav {
  margin-top: 30px;
  margin-bottom: 30px;
  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    li {
      display: inline-flex;
      margin: 10px;
    }
  }
}
